
<div id="<%= dom_id movie %>">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Rating</th>
        <th>Release Date</th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
      </tr>
    </tbody>
    
    <tfoot>
      <tr>
        <td colspan="3">Movie Information</td>
      </tr>
    </tfoot>
  </table>
</div>
